{% extends 'layout/admin.html.twig' %}
{% block title %}Ajouter un article {% endblock %}
{% block body %}
{{ tinymce_init() }}

<div class="container">
    <a class="btn btn-primary" href="{{ path('admin_article_list') }}">Retour</a>
    <div class="m-2 container card">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row p-2">
            <div class="col">
                {{ form_row(form.title) }}
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                {{ form_row(form.content) }}
            </div>
        </div>

        <div class="row p-2">
            <div class="col">
                {{ form_row(form.cover) }}
            </div>
        </div>

        





       
        <div class="row p-2">
            <div class="col">
                {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Ajouter' }) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>



    

{% endblock %}
